<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Targets.AzureEventHub"/>
  </extensions>

  <variable name="DefaultLayout" value="${longdate} | ${level:uppercase=true:padding=5} | ${message} | ${exception:format=type,tostring}" />

  <targets>
    <target name="eh" type="AzureEventHub" layout="${DefaultLayout}" EventHubConnectionString="Endpoint=sb://yoursbnamespace.servicebus.windows.net/;SharedAccessKeyName=send;SharedAccessKey=yourkey;TransportType=Amqp" EventHubPath="youreventhubname" PartitionKey="optionalkey"/>
    <target name="ColorConsole" xsi:type="ColoredConsole" layout="${DefaultLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="ColorConsole,eh" />
  </rules>
</nlog>